<table>
  <tr>
    <th>Nome</th>
    <th>E-mail</th>
  </tr>
  <% @librarians.each do |librarian| %>
    <tr>
      <td><%= librarian.name %></td>
      <td><%= librarian.email %></td>
    </tr>
  <% end %>
</table>